.card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #fff;
    transition: 0.5s;
    border: 0;
    border-radius: 0.55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    max-height: calc(100vh - 10.5rem);
    overflow: hidden;
}
.chat-app {
    .people-list {
        padding: 20px;
        z-index: 7;
    }
    .chat {
        border-left: 1px solid #eaeaea;
    }
}
.people-list {
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    .chat-list {
        li {
            padding: 10px 0px;
            list-style: none;
            border-radius: 3px;
            &:hover {
                background: #efefef;
                cursor: pointer;
            }
            .name {
                font-size: 15px;
            }
        }
        li.active {
            background: #efefef;
        }
        img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            position: relative;
        }

        div.avatar .unseen-message {
            display: flex;
            width: 20px;
            height: 20px;
            top: -5px;
            right: 0px;
            line-height: 0.8rem;
            font-size: 0.8rem;
            position: absolute;
            border-radius: 50%;
            background-color: #c0003d;
            color: white;
            z-index: 100;
            font-weight: bold;
            justify-content: center;
            align-items: center;
        }
    }
    img {
        float: left;
        border-radius: 50%;
    }
    .about {
        float: left;
        padding-left: 8px;
    }
    .status {
        color: #999;
        font-size: 13px;
    }
}
.chat {
    .chat-header {
        &.blocked::before {
            content: "";
            width: calc(100% + 2rem);
            height: 100%;
            display: flex;
            background-color: #cdcdcd59;
            position: absolute;
            z-index: 10;
            top: 0;
            left: -1rem;
        }
        position: relative;
        padding: 15px 20px;
        border-bottom: 2px solid #f4f7f6;
        img {
            float: left;
            border-radius: 40px;
            width: 40px;
        }
        .chat-about {
            float: left;
            padding-left: 10px;
        }
    }

    .chat-history {
        overflow-y: scroll;
        padding: 20px;
        border-bottom: 2px solid #fff;
        ul {
            padding: 0;
            li {
                list-style: none;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
        .message-row:hover .action-box {
            visibility: visible;
            opacity: 1;
        }
        .action-box {
            transition: all 0.3s;
            visibility: hidden;
            opacity: 0;

            .fa-trash-alt {
                color: #f55353;
                &:hover {
                    color: #fa9898;
                }
            }
            .fa-thumbtack {
                color: #479ac7;
                &:hover {
                    color: #bbe4fa;
                }
            }
        }
        .message-data {
            margin-bottom: 15px;
            img {
                border-radius: 40px;
                width: 40px;
            }
        }
        .message-data-time {
            color: #434651;
            padding-left: 6px;
        }
        .message {
            color: #444;
            padding: 18px 20px;
            line-height: 26px;
            font-size: 16px;
            border-radius: 7px;
            display: inline-block;
            position: relative;
            overflow-wrap: anywhere;
            &:after {
                bottom: 100%;
                left: 7%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-bottom-color: #fff;
                border-width: 10px;
                margin-left: -10px;
            }
        }
        .my-message {
            background: #efefef;
            &:after {
                bottom: 100%;
                left: 30px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-bottom-color: #efefef;
                border-width: 10px;
                margin-left: -10px;
            }
        }
        .other-message {
            background: #e8f1f3;
            text-align: right;
            &:after {
                border-bottom-color: #e8f1f3;
                left: auto;
            }
        }
    }

    .chat-message {
        padding: 20px;
    }
}
.online {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle;
    color: #86c541;
}
.offline {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle;
    color: #e47297;
}
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle;
    color: #1d8ecd;
}
.float-right {
    float: right;
}
.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}
@media only screen and (max-width: 767px) {
    .chat-app {
        .people-list {
            height: 465px;
            width: 100%;
            overflow-x: auto;
            background: #fff;
            left: -400px;
            display: none;
        }
        .people-list.open {
            left: 0;
        }
        .chat {
            margin: 0;
            .chat-header {
                border-radius: 0.55rem 0.55rem 0 0;
            }
        }
        .chat-history {
            height: 300px;
            overflow-x: auto;
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app {
        .chat-list {
            height: 650px;
            overflow-x: auto;
        }
        .chat-history {
            height: 600px;
            overflow-x: auto;
        }
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app {
        .chat-list {
            height: 480px;
            overflow-x: auto;
        }
        .chat-history {
            height: calc(100vh - 350px);
            overflow-x: auto;
        }
    }
}
